 /* Media queries para responsividade */
 @media (max-width: 360px) {
    /* Estilos para celular pequeno */
}
@media (min-width: 361px) and (max-width: 480px) {
    /* Estilos para celular médio */
}
@media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para celular grande */
}
@media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para tablet retrato */
}
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Estilos para tablet paisagem */
}
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Estilos para desktop comum */
}
@media (min-width: 1441px) {
    /* Estilos para telas grandes */
}

div.img {
    width: 100%; /* Ajuste conforme necessário */
    display: flex;
    flex-direction: column; /* Exibe as imagens uma abaixo da outra */
}